video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    position: fixed;
}

.hero-container{
    /* background: url('/public/images/img-home.jpg') cover center/contain no-repeat ; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    object-fit: contain;
}

.hero-container > h1{
    color: #fff;
    font-size: 100px;
    margin-top: -100px;

}

.hero-container> p{
    color: #fff;
    margin-top: 8px;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
}

.hero-btns{
    margin-top: 32px;

}
.hero-btns .btn{
    margin: 6px!important;
}

.fa-play-circle{
    margin-left: 4px;
}

@media screen and (max-width: 960px) {
    .hero-container > h1{
        font-size: 70px;
        margin-top: -150px;
    }
    
}

@media screen and (max-width: 768px) {
    .hero-container > h1{
        font-size: 50px;
        margin-top: -100px;
    }
    .hero-container > p{
        font-size: 30px;
    }
    .btn-mobile{
        display: block;
        text-decoration: none;
    }
    .btn{
        width: 100%;
    }
}